<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000535805893-i6235dk2quem4jc4edofumgtdk4bleqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000535805893-i6235dk2quem4jc4edofumgtdk4bleqk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000535805893-20dvq6id5fonrvjsg9aupap7nalb6ku9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5I89O88Den25EC_SLZQsb_XYjzPExoR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1000535805893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helio.company</string>
	<key>PROJECT_ID</key>
	<string>heloin-21882</string>
	<key>STORAGE_BUCKET</key>
	<string>heloin-21882.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000535805893:ios:0a33abad2bbfb4032ac5ac</string>
</dict>
</plist>