@tailwind base;
@tailwind components;
@tailwind utilities;

.screen {
    background-color: #F1F5F9;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.screen-dark {
    background-color: #0F172A;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}